body{
    background-color: black;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-heading{
    color: white;
    font-size: 3rem;
}
input{
    font-size: 2rem;
    border-radius: 20px;
    margin-top: -1rem;
    border: 2px solid blue;
}
button{
    display: inline-block;
    color: white;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid red;
    background-color: red;
    border-radius: 12px;
}
.main-container{
    /* background-color: red; */
    display: grid;
     grid-template-columns: repeat(auto-fill,minmax(450px,1fr)); 
    margin-left: 5rem;
    margin-right: 5rem;
    grid-gap: 7px;
    margin-top: 3rem;
    
}
.child-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    
}
.child-container:hover{
    box-shadow: 0 0 1rem rgb(249, 3, 3);
}
button:hover{
    box-shadow:0 0 1rem rgb(34, 180, 88) ;
}
.des{
    color: black;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    width: 100%;
    background-color: red;
    margin-top: 2rem;
}
h3{
    color: white;
}
@media screen and (max-width:600px){
    .header{
        display: flex;
        flex-direction: column;
        /* width: 90%; */
        align-items: center;
        justify-content: center;
        
    }
    .main-heading{
    font-size: 1.5rem;
    padding: 1rem;
    }
    input{
        font-size: 1.2rem;
    }
    button{
        padding: 0.5rem;
        font-size: 1rem;
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .des{
        font-size: 1.2rem;
    }
    .two{
        font-size: 1rem;
    }
}